# Virtual environments
venv/
.venv/
env/
.env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE-specific files
.vscode/
.idea/

# Data files (exclude the images folders)
data/dataset/images/

# Environment variables
.env
.env.local

# Playground notebook for local tests
notebooks/test_notebook.ipynb

# Temporary files
missing_images.txt